.navigation {
	display: block;
	float: left;
	position: relative;
	width: 100%;	
	&:before {
		content:'';
		display: block;
		position: absolute;
		z-index: -1;
		width: 95%;
		height: 60px;
		top: 7px;
		left: 50%;
		-webkit-transform: translateX(-50%);
		   -moz-transform: translateX(-50%);
		    -ms-transform: translateX(-50%);
		     -o-transform: translateX(-50%);
		        transform: translateX(-50%);
		-moz-border-radius: 18px / 14px;
		-webkit-border-radius: 18px / 14px;
		border-radius: 18px / 14px;
		-moz-background-clip: padding;
		-webkit-background-clip: padding-box;
		background-clip: padding-box;
		background-color: #fff;
		-moz-box-shadow: inset 0 -1px 5px #000;
		-webkit-box-shadow: inset 0 -1px 5px #000;
		box-shadow: inset 0 -1px 5px #000;
		background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDkxNyA2MSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGxpbmVhckdyYWRpZW50IGlkPSJoYXQwIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjUwJSIgeTE9IjEwMCUiIHgyPSI1MCUiIHkyPSItMS40MjEwODU0NzE1MjAyZS0xNCUiPgo8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMzQzNDM0IiBzdG9wLW9wYWNpdHk9IjEiLz4KPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMGQwZDBkIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgPC9saW5lYXJHcmFkaWVudD4KCjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSI5MTciIGhlaWdodD0iNjEiIGZpbGw9InVybCgjaGF0MCkiIC8+Cjwvc3ZnPg==);
		background-image: -moz-linear-gradient(bottom, #343434 0%, #0d0d0d 100%);
		background-image: -o-linear-gradient(bottom, #343434 0%, #0d0d0d 100%);
		background-image: -webkit-linear-gradient(bottom, #343434 0%, #0d0d0d 100%);
		background-image: linear-gradient(bottom, #343434 0%, #0d0d0d 100%);
		-webkit-box-shadow: 0px 1px 1px 1px rgba(255,255,255,0.5);
		-moz-box-shadow:    0px 1px 1px 1px rgba(255,255,255,0.5);
		box-shadow:         0px 1px 1px 1px rgba(255,255,255,0.5);
	}
	&:after {
		content: '';
		z-index: -2;
		width: 90%;
		position: absolute;
		bottom: -20px;
		left: 50%;
		-webkit-transform: translateX(-50%);
		   -moz-transform: translateX(-50%);
		    -ms-transform: translateX(-50%);
		     -o-transform: translateX(-50%);
		        transform: translateX(-50%);
		height: 30px;
		background-image: url('../img/nav-shadow.png');
		background-repeat: no-repeat;
		-webkit-background-size: cover;
		     -o-background-size: cover;
		        background-size: cover;
		background-position: 50% 100%;
	}
	ul {
		padding: 0;
		margin: 0;
		display: block;
		float: left;
		text-align: center;
		width: 100%;	
		height: 46px;
		-moz-border-radius: 18px / 15px;
		-webkit-border-radius: 18px / 15px;
		border-radius: 18px / 15px;
		-moz-background-clip: padding;
		-webkit-background-clip: padding-box;
		background-clip: padding-box;
		background-color: #fff;
		background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDk2MCA0NyIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGxpbmVhckdyYWRpZW50IGlkPSJoYXQwIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjUwJSIgeTE9IjEwMCUiIHgyPSI1MCUiIHkyPSItMS40MjEwODU0NzE1MjAyZS0xNCUiPgo8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjNjkyN2NkIiBzdG9wLW9wYWNpdHk9IjEiLz4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzY5MjdjZCIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMxNTE1MTUiIHN0b3Atb3BhY2l0eT0iMSIvPgo8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMGEwYTBiIiBzdG9wLW9wYWNpdHk9IjEiLz4KPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjM2QzYzNjIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgPC9saW5lYXJHcmFkaWVudD4KCjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSI5NjAiIGhlaWdodD0iNDciIGZpbGw9InVybCgjaGF0MCkiIC8+Cjwvc3ZnPg==);
		background-image: -moz-linear-gradient(bottom, #6927cd 0%, #6927cd 0%, #151515 0%, #0a0a0b 0%, #3d3c3c 100%);
		background-image: -o-linear-gradient(bottom, #6927cd 0%, #6927cd 0%, #151515 0%, #0a0a0b 0%, #3d3c3c 100%);
		background-image: -webkit-linear-gradient(bottom, #6927cd 0%, #6927cd 0%, #151515 0%, #0a0a0b 0%, #3d3c3c 100%);
		background-image: linear-gradient(bottom, #6927cd 0%, #6927cd 0%, #151515 0%, #0a0a0b 0%, #3d3c3c 100%);
		margin-top: 15px;
		-webkit-box-shadow: inset 0px 0px 0px 2px rgba(81,81,81,1);
		-moz-box-shadow:    inset 0px 0px 0px 2px rgba(81,81,81,1);
		box-shadow:         inset 0px 0px 0px 2px rgba(81,81,81,1);	
		z-index: 1;	
		li {
			display: inline-block;
			padding: 7px 0;
			margin: 2px 0 2px -4px;
			&:last-child {
				a {
					border-right: none;
				}
			}
			&:hover {
				background-color: #000;
				background: url('../img/shad.png') no-repeat 50% 0, url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwOCA0MSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGxpbmVhckdyYWRpZW50IGlkPSJoYXQwIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjUwJSIgeTE9IjEwMCUiIHgyPSI1MCUiIHkyPSItMS40MjEwODU0NzE1MjAyZS0xNCUiPgo8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMTUxNTE1IiBzdG9wLW9wYWNpdHk9IjAuMzUiLz4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzBhMGEwYiIgc3RvcC1vcGFjaXR5PSIwLjM1Ii8+CjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiM2OTI3Y2QiIHN0b3Atb3BhY2l0eT0iMC4zNSIvPgo8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjNWYyM2JiIiBzdG9wLW9wYWNpdHk9IjAuMzUiLz4KPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjOTc1NGZlIiBzdG9wLW9wYWNpdHk9IjAuMzUiLz4KICAgPC9saW5lYXJHcmFkaWVudD4KCjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDgiIGhlaWdodD0iNDEiIGZpbGw9InVybCgjaGF0MCkiIC8+Cjwvc3ZnPg==);
				background: url('../img/shad.png') no-repeat 50% 0, -moz-linear-gradient(bottom, rgba(21,21,21,.35) 0%, rgba(11,11,11,.35) 0%, rgba(106,40,206,.35) 0%, rgba(96,36,187,.35) 0%, rgba(152,85,254,.35) 100%);
				background: url('../img/shad.png') no-repeat 50% 0, -o-linear-gradient(bottom, rgba(21,21,21,.35) 0%, rgba(11,11,11,.35) 0%, rgba(106,40,206,.35) 0%, rgba(96,36,187,.35) 0%, rgba(152,85,254,.35) 100%);
				background: url('../img/shad.png') no-repeat 50% 0, -webkit-linear-gradient(bottom, rgba(21,21,21,.35) 0%, rgba(11,11,11,.35) 0%, rgba(106,40,206,.35) 0%, rgba(96,36,187,.35) 0%, rgba(152,85,254,.35) 100%);
				background: url('../img/shad.png') no-repeat 50% 0, linear-gradient(bottom, rgba(21,21,21,.35) 0%, rgba(11,11,11,.35) 0%, rgba(106,40,206,.35) 0%, rgba(96,36,187,.35) 0%, rgba(152,85,254,.35) 100%);
				a {
					font-size: 12px;
					color: rgb(255, 246, 0);
					text-shadow: 0px 0px 2px rgba(255, 246, 0, 1);
				}				
			}
			a {
				display: block;
				padding: 5px 10px;
				color: #FFF;
				text-transform: uppercase;
				font-family: $os;
				font-weight: 600;
				font-size: 12px;
				border-right: 1px solid #545353;	
				text-decoration: none;		
			}
		}
	}
}