.page {
	&__wrapper {
		display: block;
		float: left;
		position: relative;
		width: 100%;
		height: 404px;
		border: 1px solid #000;
		background-color: #0e0e0e;
		// @include box-shadow(0,0,5px,rgba(0,0,0,.36));
		// border: 1px solid rgba(255,255,255,.06);
		background-image: url('../img/Bottom-long.png');
		background-repeat: no-repeat;
		-webkit-background-size: 100%;
		     -o-background-size: 100%;
		        background-size: 100%;
		background-position: 50% 98%;
		-moz-box-shadow: 0 0 5px rgba(0,0,0,0.36), inset 0px 0px 1px 1px rgba(255,255,255,0.4);
		-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.36), inset 0px 0px 1px 1px rgba(255,255,255,0.4);
		box-shadow: 0 0 5px rgba(0,0,0,0.36), inset 0px 0px 1px 1px rgba(255,255,255,0.4);
		@include border-radius(10px);
		padding: 5px 1px 2%;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
	}
	&__head {
		display: block;
		float: left;
		width: 100%;
		height: auto;
		background-image: url('../img/Title-bg.png');
		background-repeat: no-repeat;
		-webkit-background-size: cover;
		     -o-background-size: cover;
		        background-size: cover;
		padding: 5px 0;
		.breadcrumbs  {			
			margin: 0;
			padding: 3px 10px;
			margin-left: 20px;
			background-image: url('../img/shad.png');
			background-repeat: no-repeat;
			background-position: 50% 0;
			float: left;
		}
		a {
			display: block;
			float: left;
			color: #fff;
			font-size: 16px;
			font-weight: bold;
			text-decoration: none;
			line-height: normal;
		}
		h3 {
			display: block;
			float: left;
			color: #fff;
			font-size: 16px;
			font-weight: bold;
			text-decoration: none;
			line-height: normal;
			margin: 0;
		}
		h4 {
			text-align: center;
			font-size: 18px;
			font-weight: bold;line-height: normal;
			margin: 0;
			color: #FFF;
		}
	}
	&--bookmark{
		float: right;
	}
	&__body {
		display: block;
		float: left;
		position: relative;
		width: 100%;
		height: 325px;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
		padding: 10px;
		&--wrap {
			padding: 10px 50px;
		}
	}
	&__scrolltext {
		height: 328px;
		box-sizing: border-box;
		padding: 10px 0 10px 20px;
		-moz-box-shadow: 0 0 5px rgba(0,0,0,0.36), inset 0px 0px 1px 1px rgba(255,255,255,0.1);
		-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.36), inset 0px 0px 1px 1px rgba(255,255,255,0.1);
		box-shadow: 0 0 5px rgba(0,0,0,0.36), inset 0px 0px 1px 1px rgba(255,255,255,0.1);
		@include border-radius(10px);
		overflow: hidden;
		-moz-user-select: none;
		-webkit-user-select: none;
	}
}

.author{
	&__photo{
		&--item{
			display: block;
			margin: 0 auto 6px;
			width: 75%;
			height: 97px;
			@include overflow-img;
			@include border-radius(10px);
			@include background-clip(padding-box);
			background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDE0NSAxMDQiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSItMS40MjEwODU0NzE1MjAyZS0xNCUiIHkxPSI1MCUiIHgyPSIxMDAlIiB5Mj0iNTAlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMCIgc3RvcC1vcGFjaXR5PSIwLjMiLz4KPHN0b3Agb2Zmc2V0PSIyNSUiIHN0b3AtY29sb3I9IiMwMDAiIHN0b3Atb3BhY2l0eT0iMCIvPgo8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CjxzdG9wIG9mZnNldD0iNzUlIiBzdG9wLWNvbG9yPSIjMDAwIiBzdG9wLW9wYWNpdHk9IjAiLz4KPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDAwIiBzdG9wLW9wYWNpdHk9IjAuMyIvPgogICA8L2xpbmVhckdyYWRpZW50PgoKPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjE0NSIgaGVpZ2h0PSIxMDQiIGZpbGw9InVybCgjaGF0MCkiIC8+Cjwvc3ZnPg==);
			background-image: -moz-linear-gradient(left, rgba(0,0,0,.3) 0%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 75%, rgba(0,0,0,.3) 100%);
			background-image: -o-linear-gradient(left, rgba(0,0,0,.3) 0%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 75%, rgba(0,0,0,.3) 100%);
			background-image: -webkit-linear-gradient(left, rgba(0,0,0,.3) 0%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 75%, rgba(0,0,0,.3) 100%);
			background-image: linear-gradient(left, rgba(0,0,0,.3) 0%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 75%, rgba(0,0,0,.3) 100%);
			-moz-box-shadow: 0 0 5px rgba(0,0,0,0.36), inset 0px 0px 1px 1px rgba(255,255,255,0.1);
			-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.36), inset 0px 0px 1px 1px rgba(255,255,255,0.1);
			box-shadow: 0 0 5px rgba(0,0,0,0.36), inset 0px 0px 1px 1px rgba(255,255,255,0.1);
			img {
				max-width: 125%;
			}
		}
	}
}

.registration {
	color: #676A6E;
	.necessarily {
		font-size: 14px;
		margin-bottom: 0;
	}
	&--left, &--right {
		display: block;
		float: left;
		position: relative;
		width: 50%;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
		padding-right: 50px;		
	}
	label {
		display: block;
		margin-top: 10px;
		margin-bottom: 0;
		font-size: 14px;
	}
	&--inp {
		display: block;
		float: left;
		position: relative;
		width: 100%;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
		font-style: italic;
		font-size: 12px;
		height: 28px;
		line-height: 24px;
		//border: 2px solid #242424;
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
		border-radius: 4px;
		background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDM4MyAyOCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGxpbmVhckdyYWRpZW50IGlkPSJoYXQwIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjUwJSIgeTE9IjEwMCUiIHgyPSI1MCUiIHkyPSItMS40MjEwODU0NzE1MjAyZS0xNCUiPgo8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMTIxMjEyIiBzdG9wLW9wYWNpdHk9IjEiLz4KPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMWExYTFhIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgPC9saW5lYXJHcmFkaWVudD4KCjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIzODMiIGhlaWdodD0iMjgiIGZpbGw9InVybCgjaGF0MCkiIC8+Cjwvc3ZnPg==);
		background-image: -moz-linear-gradient(bottom, #121212 0%, #1a1a1a 100%);
		background-image: -o-linear-gradient(bottom, #121212 0%, #1a1a1a 100%);
		background-image: -webkit-linear-gradient(bottom, #121212 0%, #1a1a1a 100%);
		background-image: linear-gradient(bottom, #121212 0%, #1a1a1a 100%);		
		@include border-radius(4px);
		@include background-clip(padding-box);
		@include box-shadow(inset 0,0,0,rgba(255,255,255,.06));
		outline: none;
		margin: 10px 0;
		border: 1px solid #242424;
		padding: 0 10px;
		color: #FFF;
	}
	::-webkit-input-placeholder {color:#676a6e;}
	::-moz-placeholder          {color:#676a6e;}/* Firefox 19+ */
	:-moz-placeholder           {color:#676a6e;}/* Firefox 18- */
	:-ms-input-placeholder      {color:#676a6e;}
	&--btns {
		display: block;
		float: left;
		width: 100%;
		text-align: right;
		margin-top: 10px;
		&--regist {
			display: inline-block;
			border: 1px solid #000;
			border-bottom: 2px solid #1e1e1e;
			@include border-radius(5px);
			background-color: #090909;
			background-image: url('../img/Glow-1.png');
			background-repeat: no-repeat;
			background-position: 50% 0;
			padding: 0 45px;
			height: 37px;
			line-height: 32px;
			outline: none;
			@include transition(.3s);
			&:active, &:hover, &:focus {
				background-color: lighten(#090909,10%);
			}
		}
		small {
			font-size: 14px;
			font-style: italic;
			line-height: 37px;
			margin: 10px;
		}
		&--exit {
			display: inline-block;
			color: $mag;
			font-size: 14px;
			font-style: italic;
			line-height: 37px;
			&:active, &:hover, &:focus {
				color: $mag;
			}
		}
	}
}

.page__reviews__item {
	display: inline-block;
	height: 265px;
	width: 31%;
	margin-right: 2%;
	padding-right: 10px;
	h4 {
		font-weight: bold;
		font-size: 16px;
	}
}

.buyabook {
	&__row {
		display: block;
		float: left;
		position: relative;
		width: 100%;
		height: 140px;
		background-image: url('../img/Glass-board.png');
		background-repeat: no-repeat;
		background-position: 0 60%;
		-webkit-background-size: contain;
		     -o-background-size: contain;
		        background-size: contain;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
		padding: 0 60px;
		margin-bottom: 15px;
	}
	&__item {
		display: block;
		float: left;
		position: relative;
		width: 1 / 3 * 100%;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
		padding: 5px 20px;
		@include transition(.3s);
		&--img {
			display: block;
			margin: 0 auto;
			width: 68px;
			height: 83px;
			background-image: url('../img/The_Cover.png');
			background-repeat: no-repeat;
			margin-bottom: 5px;
		    padding: 0 8px 3px 0;
		    overflow: hidden;
		    &--sub {
		    	display: block;
				margin: 0 auto;
				width: 90px;
				margin-top: 5px;
				img {
					width: 100%;
				}
		    }
			span {
				display: block;
				float: left;
				width: 100%;
				height: 100%;
				 -moz-transform: scaleX(0.89) scaleY(0.96) rotateY(-1deg) rotateZ(1deg);
				-moz-perspective: 150px;
				-moz-perspective-origin: right center;

				-webkit-perspective: 150px;
				-webkit-perspective-origin: right center;
				-webkit-transform-style: preserve-3d;
				-webkit-transform: scaleX(0.89) scaleY(0.96) rotateY(-1deg) rotateZ(1deg);

				-o-perspective: 150px;
				-o-perspective-origin: right center;
				-o-transform-style: preserve-3d;
				-o-transform: scaleX(0.89) scaleY(0.96) rotateY(-1deg) rotateZ(1deg);

				-ms-perspective: 150px;
				-ms-perspective-origin: right center;
				-ms-transform-style: preserve-3d; 
				-ms-transform: scaleX(0.89) scaleY(0.96) rotateY(-1deg) rotateZ(1deg);   

				perspective: 68px;
				perspective-origin: right center;
				transform-style: preserve-3d;
				transform: scaleX(0.89) scaleY(0.96) rotateY(-1deg) rotateZ(1deg);
				overflow: hidden;
			}
			img {
				width: 100%;	
				position: absolute;
				-moz-transform: rotateY(2deg) translateZ(-25px);
			    -webkit-transform: rotateY(2deg) translateZ(-25px);
			    -o-transform: rotateY(2deg) translateZ(-25px);
			    -ms-transform: rotateY(2deg) translateZ(-25px);
			    transform: rotateY(2deg) translateZ(-25px);			
			}
		}
		&--desc {
			display: block;
			float: left;
			width: 100%;
			text-align: center;
			color: #FFF;
			font-size: 11px;
			margin-top: 10px;
			p {
				margin: 0;
			}
			&--price {
				color: #FFF600;
			}
		}
		&:hover, &:focus {
			.buyabook__item--desc {
				p {
					text-decoration: underline;
				}
			}
		}
	}
}

.storepage-single {
	
	&__head {
		display: block;
		float: left;
		width: 100%;
		&--book {
			display: block;
			width: 50%;
			float: left;
			height: 250px;
			margin-top: 25px;
			background-image: url('../img/Glass-board-1.png');
			background-repeat: no-repeat;
			background-position: 50% 85%;
			text-align: center;			
		}
		&--controls {
			display: block;
			float: left;
			position: relative;
			width: 50%;
			color: #FFF;
			-webkit-box-sizing: border-box;
			   -moz-box-sizing: border-box;
			        box-sizing: border-box;
			padding: 0 50px;
			h3 {
				font-size: 30px;
				font-weight: bold;
				margin-bottom: 0;
			}
			h4 {
				font-size: 18px;
			}
			.controls {
				&--read {
					display: block;
					float: left;
					position: relative;
					width: 100%;
					height: 44px;
					margin-bottom: 15px;
					line-height: 44px;
					text-align: center;
					color: #FFF;
					font-size: 18px;
					@include text-shadow(1px 0 1px rgba(0,0,0,.71));
					font-weight: bold;
					border: 1px solid #6175df;
					@include border-radius(8px);
					@include background-clip(padding-box);
					background-color: #4377b7;
					@include box-shadow(inset 0 0 0 1px rgba(255,255,255,.3));
					@include background-image(linear-gradient(bottom, #2c4888 0%, #6075e0 98.58%, #6075e0 100%));
					text-decoration: none;
					@include transition(.3s);
					&:focus, &:hover {
						@include box-shadow(inset 0 0 0 3px rgba(255,255,255,.5));
					}
				}
				&--format{
					display: block;
					float: left;
					position: relative;
					width: 100%;
					height: 44px;
					margin-bottom: 15px;
					line-height: 44px;
					text-align: center;
					color: #FFF;
					font-size: 18px;
					@include text-shadow(1px 0 1px rgba(0,0,0,.71));
					font-weight: bold;
					@include border-radius(8px);
					@include background-clip(padding-box);
					border: 1px solid #df7b23;
					background-color: #4377b7;
					@include box-shadow(inset 0 0 0 1px rgba(255,255,255,.3));
					@include background-image(linear-gradient(bottom, #ff7400 0%, #ffa443 100%));
					text-decoration: none;
					@include transition(.3s);
					b {
						margin-right: 15px;
					}
					a {
						color: #0e0e0e;
						font-style: italic;
						font-weight: normal;
					}
				}
				&--buy {
					display: block;
					float: left;
					position: relative;
					width: 100%;
					height: 44px;
					margin-bottom: 15px;
					line-height: 44px;
					text-align: center;
					color: #FFF;
					font-size: 18px;
					@include text-shadow(1px 0 1px rgba(0,0,0,.71));
					font-weight: bold;
					@include border-radius(8px);
					@include background-clip(padding-box);
					border: 1px solid #f13d3d;
					background-color: #4377b7;
					@include box-shadow(inset 0 0 0 1px rgba(255,255,255,.3));
					@include background-image(linear-gradient(bottom, #a80c0c 0%, #f23c3c 100%));
					text-decoration: none;
					@include transition(.3s);
					sup {
						margin-left: 10px;
					}
					&:focus, &:hover {
						@include box-shadow(inset 0 0 0 3px rgba(255,255,255,.5));
					}
				}
			}
		}
	}
	&--annotation {
		height: auto;
		padding: 15px;
		margin-bottom: 25px;
		p {
			font-size: 12px;
			font-style: italic;
			color: #676A6E;
			margin: 0;
		}
		#comment {
			display: block;
			float: left;
			position: relative;
			width: 100%;
			-webkit-box-sizing: border-box;
			   -moz-box-sizing: border-box;
			        box-sizing: border-box;
			font-style: italic;
			font-size: 12px;
			height: 54px;
			line-height: 24px;
			//border: 2px solid #242424;
			-moz-border-radius: 4px;
			-webkit-border-radius: 4px;
			border-radius: 4px;
			background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDM4MyAyOCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGxpbmVhckdyYWRpZW50IGlkPSJoYXQwIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjUwJSIgeTE9IjEwMCUiIHgyPSI1MCUiIHkyPSItMS40MjEwODU0NzE1MjAyZS0xNCUiPgo8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMTIxMjEyIiBzdG9wLW9wYWNpdHk9IjEiLz4KPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMWExYTFhIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgPC9saW5lYXJHcmFkaWVudD4KCjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIzODMiIGhlaWdodD0iMjgiIGZpbGw9InVybCgjaGF0MCkiIC8+Cjwvc3ZnPg==);
			background-image: -moz-linear-gradient(bottom, #121212 0%, #1a1a1a 100%);
			background-image: -o-linear-gradient(bottom, #121212 0%, #1a1a1a 100%);
			background-image: -webkit-linear-gradient(bottom, #121212 0%, #1a1a1a 100%);
			background-image: linear-gradient(bottom, #121212 0%, #1a1a1a 100%);		
			@include border-radius(4px);
			@include background-clip(padding-box);
			@include box-shadow(inset 0,0,0,rgba(255,255,255,.06));
			outline: none;
			margin: 10px 0;
			border: 1px solid #242424;
			padding: 0 10px;
			color: #FFF;
			resize: none;
		}
		.comment-sub {
			@extend .registration--btns--regist;
			float: right;
		}
		.comment__item {
			display: block;
			float: left;
			width: 100%;
			margin: 15px 0;
			h4 {
				font-size: 14px;
				color: #676A6E;
				margin: 10px 0;
				text-align: left;
				font-weight: 600;
				span.comment--time {
					float: right;
					font-size: 10px;
					font-style: italic;
					color: #676A6E;
					margin-top: 3px;
				}
			}
		}
		::-webkit-input-placeholder {color:#676a6e;}
		::-moz-placeholder          {color:#676a6e;}/* Firefox 19+ */
		:-moz-placeholder           {color:#676a6e;}/* Firefox 18- */
		:-ms-input-placeholder      {color:#676a6e;}
			
	}
	h4.storepage-single--title {
		font-size: 14px;
		color: #676A6E;
		margin: 10px 0;
		text-align: left;
		font-weight: 600;
	}
}

.page-subscription {
	-webkit-border-radius: 0 0 10px 10px;
	        border-radius: 0 0 10px 10px;
	 padding: 20px;
	&--head {
		height: 50px;
		padding: 0;
		h4 {
			font-size: 18px;
			font-weight: bold;
			margin: 0;
			line-height: 50px;
			padding-top: 5px;
		}
	}
	p {
		text-align: center;
	}
	&--left {
		display: block;
		width: 100%;
		position: absolute;
		top: 50%;
		-webkit-transform: translateY(-50%);
		   -moz-transform: translateY(-50%);
		    -ms-transform: translateY(-50%);
		     -o-transform: translateY(-50%);
		        transform: translateY(-50%);
		img {
			display: block;
			margin: 0 auto;
		}
		a {
			display: block;
			position: relative;
			width: 80%;
			height: 44px;
			margin: 15px auto;
			line-height: 44px;
			text-align: center;
			color: #FFF;
			font-size: 18px;
			@include text-shadow(1px 0 1px rgba(0,0,0,.71));
			font-weight: bold;
			@include border-radius(8px);
			@include background-clip(padding-box);
			border: 1px solid #f13d3d;
			background-color: #4377b7;
			@include box-shadow(inset 0 0 0 1px rgba(255,255,255,.3));
			@include background-image(linear-gradient(bottom, #a80c0c 0%, #f23c3c 100%));
			text-decoration: none;
			@include transition(.3s);
			font-weight: bold;
			font-style: italic;
			&:focus, &:hover {
				@include box-shadow(inset 0 0 0 3px rgba(255,255,255,.5));
			}			
			
		}
	}
}

.subchoice {
	&__wrap {
		display: block;
		width: 100%;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
		padding: 0 50px;
	}
	&__item {
		display: block;
		float: left;
		width: 50%;
		height: 250px;
		margin: 15px 0;
		text-align: center;
		&--btn {
			display: inline-block;
			width: 65%;
			color: #FFF;
			height: 44px;
			margin: 15px 0;
			line-height: 34px;
			text-align: center;
			font-size: 18px;
			@include text-shadow(1px 0 1px rgba(0,0,0,.71));
			@include border-radius(8px);
			@include background-clip(padding-box);
			border: 1px solid #f13d3d;
			background-color: #4377b7;
			@include box-shadow(inset 0 0 0 1px rgba(255,255,255,.3));
			@include background-image(linear-gradient(bottom, #a80c0c 0%, #f23c3c 100%));
			text-decoration: none;
			@include transition(.3s);
			font-weight: bold;
			font-style: italic;
			text-decoration: none;
			&:focus, &:hover {
				@include box-shadow(inset 0 0 0 3px rgba(255,255,255,.5));
				color: #FFF;
				text-decoration: none;
			}			
			.yellow {
				color: yellow;
				font-size: 24px;	
			}
		}
		&--month {
			display: block;
			margin: 0 auto;
			.month--green {
				display: block;
				margin: 0 auto;
				width: 115px;
				height: 135px;
				background-repeat: no-repeat;
				background-image: url('../img/sub_12.png');
				background-position: 50% 50%;
				-webkit-background-size: 100%;
				background-size: 100%;
				h2 {
					color: #fff;
					text-align: center;
					line-height: 130px;
					margin: 0;
					font-size: 50px;
					font-weight: 900;
				}
			}
			.month--blue {
				display: block;
				margin: 0 auto;
				width: 115px;
				height: 135px;
				background-repeat: no-repeat;
				background-image: url('../img/sub_6.png');
				background-position: 50% 50%;
				-webkit-background-size: 100%;
				background-size: 100%;
				h2 {
					color: #fff;
					text-align: center;
					line-height: 130px;
					margin: 0;
					font-size: 50px;
					font-weight: 900;
				}
			}
			h4 {
				font-size: 18px;
				color: #FFF;
				font-weight: 900;
				margin: 0;
			}
		}
	}
}