$y: #FFF600;

html, body {
    height: 100%;
}

body {
	background-color: #000;
	background-image: url(../img/BG.png);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	background-position: 50% 0;
	font-family: $os;
	color: #FFF;
}

a {
	text-decoration: none;
	&:hover, &:focus, &:active{
		outline: none;
	}
}

ul {
	list-style-type: none;
}

.block_title {
	color: #fff;
    font-size: 3.5em;
	text-align: center;
	margin-top: 15px;	
}

.p0  {
	padding: 0;
}

.align-left {
	text-align: left;
}

.align-right {
	text-align: right;
}

div#preloader { 
	position: absolute; 
	left: 0; 
	top: 0; 
	z-index: 999; 
	width: 100%; 
	height: 100%; 
	overflow: visible; 
	background: #0e0e0e url('../img/ring-alt.gif') no-repeat 50% 100px; 
	-webkit-background-size: 50px;
	     -o-background-size: 50px;
	        background-size: 50px;

}





