$mag: #5c25b1;

span.mag {
	color: $mag;
}

span.separator{
	display: block;
	float: left;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	margin: 0 10px;
	padding: 0;
}

.bookmarkBut {
	padding: 3px 10px;
	color: #ff3633!important;
}

p#bookmark{
	color: #ff3633;
	font-size: 16px;
}

.modal-dialog {
    height: 90%;
    width: 85%;
}

.modal-content {
    height: 100%!important;
    border: 1px solid #000;
	background-color: #0e0e0e;	
	-moz-box-shadow: 0 0 5px rgba(0,0,0,0.36), inset 0px 0px 1px 1px rgba(255,255,255,0.4);
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.36), inset 0px 0px 1px 1px rgba(255,255,255,0.4);
	box-shadow: 0 0 5px rgba(0,0,0,0.36), inset 0px 0px 1px 1px rgba(255,255,255,0.4);
	@include border-radius(10px);
	padding: 10px 1px 2%;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	&--img {
		display: block;
		width: 75%;
		margin: 15px auto;
		img {
			width: 100%;
		}
	}
}

.modal-header{
	padding: 0 15px 0 15px;
	border-bottom:none;
	.close{
		outline: none;
		color: #ffffff;
		font-size: 40px;
		opacity: 1;
	}
}